source https://nuget.org/api/v2
framework: net45

nuget IKVM
nuget Microsoft.NETFramework.ReferenceAssemblies
nuget NUnit
nuget NUnit.ConsoleRunner

http https://sergeytihon.files.wordpress.com/2021/11/ikvmbin-8.1.5717.0.zip
http https://dlcdn.apache.org/opennlp/opennlp-1.9.4/apache-opennlp-1.9.4-bin.zip

http http://opennlp.sourceforge.net/models-1.5/en-token.bin
http http://opennlp.sourceforge.net/models-1.5/en-sent.bin
http http://opennlp.sourceforge.net/models-1.5/en-pos-maxent.bin
http http://opennlp.sourceforge.net/models-1.5/en-pos-perceptron.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-date.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-location.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-money.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-organization.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-percentage.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-person.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-time.bin
http http://opennlp.sourceforge.net/models-1.5/en-chunker.bin
http http://opennlp.sourceforge.net/models-1.5/en-parser-chunking.bin