source https://api.nuget.org/v3/index.json

nuget IKVM prerelease
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.NETFramework.ReferenceAssemblies

http https://github.com/ikvm-revived/ikvm/releases/download/8.2.1/IKVM-8.2.1-tools-ikvmc-net461.zip tools-ikvmc-net461/tools.zip
http https://github.com/ikvm-revived/ikvm/releases/download/8.2.1/IKVM-8.2.1-tools-ikvmc-netcoreapp3.1.zip tools-ikvmc-netcoreapp3.1/tools.zip
http https://github.com/ikvm-revived/ikvm/releases/download/8.2.1/IKVM-8.2.1-bin-net461.zip bin-net461/bin.zip
http https://github.com/ikvm-revived/ikvm/releases/download/8.2.1/IKVM-8.2.1-bin-netcoreapp3.1.zip bin-netcoreapp3.1/bin.zip

http https://dlcdn.apache.org/opennlp/opennlp-2.0.0/apache-opennlp-2.0.0-bin.zip

http http://opennlp.sourceforge.net/models-1.5/en-token.bin
http http://opennlp.sourceforge.net/models-1.5/en-sent.bin
http http://opennlp.sourceforge.net/models-1.5/en-pos-maxent.bin
http http://opennlp.sourceforge.net/models-1.5/en-pos-perceptron.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-date.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-location.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-money.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-organization.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-percentage.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-person.bin
http http://opennlp.sourceforge.net/models-1.5/en-ner-time.bin
http http://opennlp.sourceforge.net/models-1.5/en-chunker.bin
http http://opennlp.sourceforge.net/models-1.5/en-parser-chunking.bin